
	</body>
	<footer>
		<div class="footer">
			<ul>
				<a href="https://ca.linkedin.com/in/nicholasrowlandson">
					<img src="../images/official_logo_linkedin.png" class="linkedIn"/>
				</a>
				<p>&#169 Nick Rowlandson 2015</p>
			</ul>
		</div>
	</footer>
</html>