<% include partials/header.ejs %>

	<div class="content panel panelEdit panel-default col-md-8">
		<h3 class="heading"><strong>Interests</strong></h3><br \>
		<div class="customWell" align=center>
			<div><img src="../images/camp.png" width="200px" class="imgBorder"/></div>
			<div><img src="../images/reefTank.png" width="200px" class="imgBorder"/></div>
			<div><img src="../images/sailboat.png" width="200px" class="imgBorder"/></div>
		</div>
	</div>
	
<% include partials/boot.ejs %>
<% include partials/footer.ejs %>