<% include partials/header.ejs %>

    <div class="content panel panelEdit panel-default col-md-8">
        <h3 class="heading"><strong>Projects</strong></h3><br \>
        <div class="customWell" align="center">
            <a href="http://symson.ca/"><img src="../images/symson.png" alt="SymSon Web Design & Development" width="300px"/></a>
            <p align="left"><strong>Entrepreneurial start up focused on creating and designing websites.</strong></p>
        </div>
    </div>
<% include partials/boot.ejs %>
<% include partials/footer.ejs %>